pymilvus[milvus_lite]==2.6.2
langchain==0.3.27
langchain-core==0.3.79
langchain-community==0.3.31
langchain-text-splitters==0.3.11
langchain-milvus==0.2.1
langchain-google-genai==2.1.12
grandalf==0.8